.DS_Store


# Ignore all content inside Data but keep the folder
Data/*
!Data/.gitkeep
!Data/Balabit-dataset
!Data/Balabit_PeakClick
!Data/Balabit_chunk
!Data/DFL-dataset
!Data/ChaoShen

# Ignore all content inside Images but keep the folder
Images/*
!Images/.gitkeep

# Ignore all content in error_logs 
# Don't ignore output_logs! It's not large
#error_logs/*
#saved_models/*
#!saved_models/.gitkeep

*.npz


# Ignore all content in any folder titled error_logs
#**/error_logs/*
#**/output_logs/*


# Ignore all .pyc files
*.pyc


# Ignore node_modules
node_modules/